<%- include('./parts/header') %>
<div class="row bg-light">
    <div class="container row-col-6">
        <%if (authorized) { %>
            <%- include('./parts/userForm') %>
            <%- include('./parts/carousel') %>
            <% } else {  %>
                <div class="attention bg-secondary rounded">
                    <h1 class="H1 font-italic"> You are not authorized </h1> 
                </div>
            <% } %>  
    </div>
</div>
<%- include('./parts/footer') %>