<header>
    <div class="container-fluid ">
            <div class="navbar navbar-dark bg-dark shadow rounded">
                    <div class="col-4">
                        <a href="/" class="navbar-brand">
                            <strong>Task Manager</strong>
                          </a>                
                    </div>
                    <div class="col-4">
                        <div class="row  justify-content-end">                            
                        <a href="/login" class="navbar-item" style="padding-right: 0.5cm;">
                            <h5>Log-in  </h5>
                        </a>  
                        <a href="/registration" class="navbar-item">
                            <h5>Sign-in</h5>
                        </a>
                        </div>                
                    </div>
                </div>
            </div>
       </header>